

<h1 id="tableLabel">e4 User Portal</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!users"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
  <thead>
    <tr>
      <th>FirstName</th>
      <th>Surname</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Tel.No</th>
      <th>City</th>
      <th>D.O.B</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">

      <td>{{ user.firstName }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.telephone_Number }}</td>
      <td>{{ user.city }}</td>
      <td>{{ user.dateofBirth }}</td>
      <td>{{ user.notes }}</td>
    </tr>
  </tbody>
</table>

